body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-color: #0f172a;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

nav a {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #00ffb3;
}

.service-section {
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
}

.service-section h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.service-section p {
    color: #f1f1f1;
    margin-bottom: 30px;

}


.service-section h2 {
    color: #00ffb3;;
}

#power-bi-report {
    color: #00ffb3;
}